<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bellsoft.updater.login.dao.LoginMapper">
	<select id="getMemberInfo" parameterType="AdminUserVO" resultType="AdminUserVO">
		SELECT
			 a.ADMIN_ID AS adminId
			,a.LOGIN_PWD AS loginPwd
			,a.LOGIN_ID AS loginId
			,a.ADMIN_NM AS adminNm
            
			,a.AUTH_GRANT AS authGrant
            ,sim_lst_codenm_fc('A0001',a.auth_grant) AS authority
            
            ,a.phone_no AS phoneNo
            ,a.notify_tp AS  notifyTp
            ,sim_lst_codenm_fc('A0002',a.notify_tp) AS notifyTpNm
            
            ,a.reg_date AS  regDate
            ,a.reg_id AS  regId
            ,a.mod_date AS  modDate
            ,a.mod_id AS  modId
		FROM sim_admin_tb a
		WHERE a.LOGIN_ID = #{loginId}
	</select>
</mapper>
